h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    color: rgba(69, 101, 80, 0.998);
    border: 4px double rgba(120, 169, 120, 0.55);
    border-radius: 20%;
    padding: 1rem;
    margin-bottom: 2.5rem;
}

.gallery {
    margin-top: 2rem;
}

.gallery ul {
    list-style: none;
    margin: 0;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.gallery img {
    width: 100%;
}

.gallery figure {
    margin: 0.5rem;
}

/* Tablets */
@media screen and (min-width: 30em) and (max-width: 64em) {
    .gallery h2 {
        font-size: 1.4rem;
        border-radius: 0;
    }
}

/* Desktop */
@media screen and (min-width: 64em) {
    .gallery h2 {
        font-size: 1.6rem;
        border-radius: 0;
    }

    .gallery img:hover {
        box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.728);
        opacity: 0.75;
    }
}